<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="renderer" content="webkit">
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>中汽研汽车检验中心（天津）有限公司 </title>
    <meta name="keywords" content="中汽研汽车检验中心（天津）有限公司 " />
    <meta name="description" content="中汽研汽车检验中心（天津）有限公司 " />
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
    <!-- 引用每个页面自定义CSS -->
    
        <link rel="stylesheet" type="text/css"  href="/css/index.css"/><link rel="stylesheet" type="text/css"  href="/css/style.css"/>
    
    <!-- 加载每个页面自定义CSS -->
    
    <style>

    </style>
</head>

	<body>

	<div class="main">
		<!--	导航栏		-->
		<div class="menu">
    <div class="menu-main">
        <ul class="menu-main-ul">
            <li class="menu-main-ul-item"><a href="/">首页</a></li>
            <li class="menu-main-ul-item"><a href="/gywm">关于我们</a></li>
			<li class="menu-main-ul-item"><a href="/xwdtzxkx">新闻动态</a></li>
            <li class="menu-main-ul-item"><a href="/jcnl">检测能力</a></li>
            <li class="menu-main-ul-item"><a href="/quality">质量体系</a></li>
            <li class="menu-main-ul-item"><a href="/kjcx">科技创新</a></li>
            <li class="menu-main-ul-item"><a href="/rlzy">人力资源</a></li>
            <li class="menu-main-ul-item red"><a href="/dqgz">党群工作</a></li>
            <li class="menu-main-ul-item"><a href="/ywzx">业务咨询</a></li>
            <!--<li class="menu-main-ul-item"><a href="callus.html" th:href="@{/contactUs}">联系我们</a></li>-->
            <!--<li class="menu-main-ul-item"><a href="infoOpen.html" th:href="@{/infoOpen}">信息公开</a></li>-->
			<li class="menu-main-ul-item"><a href="/xxgkgsjj">信息公开</a></li>			
        </ul>
    </div>
</div>
		<!--	导航栏结束		-->

		<!--	轮播图		-->
		<div class="banner">
			<div id="demo01" class="flexslider">
				<ul class="slides">
					<li><div class="img"><img src="/member/files/491810477539418112.jpg"  alt="" /></div></li>
					<li><div class="img"><img src="/member/files/1081060732205821952.png"  alt="" /></div></li>
				</ul>
			</div>
		</div>
		<!--	轮播图结束		-->

		<!--	新闻动态		-->
		<div class="new-list">
			<div class="new-list-main">
				<div class="column-title">
					<span class="column-title-text">新闻动态</span>
				</div>
				<div class="index-tab">
					<ul class="index-tab-main">
						<li class="index-tab-item active">中心快讯</li>
						<li class="index-tab-item" style="color: #d40000">党建动态</li>
<!--						<li class="index-tab-item">行业信息</li>
						<li class="index-tab-item">采购信息</li>  -->
					</ul>
				</div>
				<div class="index-list active">
					<a href="/detail/051ecb4f073f41959ab0e9fbbe474c7b" target="_blank">
					<div class="left-div">
						<div class="left-div-img">
							<img src="/member/files/1124148426045460480.jpg" />
						</div>
						<div class="left-div-body">
							<div class="left-div-title">中汽天检携手Green NCAP开展中欧实验室测试能力对标与认可项目</div>
							<div class="left-div-text">近日，中汽天检联合中汽测评开展的 Green NCAP中欧实验室测试能力对标与认可项目在海外技术研讨会上正式启动，中汽测评主任李向荣、...</div>
						</div>
					</div>
					</a>
					<div class="right-div">
						<div class="right-item">
							<a href="/detail/b53507e1ed474c62b01c703e872db8a4" target="_blank">
							<div class="right-item-time">
								<p class="date">29</p>
								<p class="year-moth">2026-09</p>
							</div>
							<div class="right-item-body">
								<div class="right-item-title">中汽天检扎实开展第49个全国“质量月”系列活动</div>
								<div class="right-item-text">第49个全国“质量月”如约而至。中汽天检始终绷紧质量管控这根弦，紧扣“增强质量技术基础能力，提升质量安全保障水平”工作要求，持续深化质...</div>
							</div>
							</a>
						</div>
						<div class="right-item">
							<a href="/detail/d7b489a0d79a4bca907cfc049595c0dc" target="_blank">
							<div class="right-item-time">
								<p class="date">21</p>
								<p class="year-moth">2026-09</p>
							</div>
							<div class="right-item-body">
								<div class="right-item-title">中汽天检亮相央视新闻：以权威检测技术支撑中国汽车产品高...</div>
								<div class="right-item-text">2026年9月21日，央视新闻发布“我国加速打造全球领先的汽车检测体系”相关报道，介绍了中汽天检服务中国汽车出海、支撑汽车检测体系建设...</div>
							</div>
							</a>
						</div>
						<div class="right-item">
							<a href="/detail/17a2db5946f54f618d8daf5cdb3822a6" target="_blank">
							<div class="right-item-time">
								<p class="date">21</p>
								<p class="year-moth">2026-09</p>
							</div>
							<div class="right-item-body">
								<div class="right-item-title">中汽天检成功举办“国际先锋人才培养项目”（2026）第...</div>
								<div class="right-item-text">为持续强化国际化人才工作能力，提升国际化业务服务水平，2026年9月21日，中汽天检组织开展“国际先锋人才培养项目”（2026）第一阶...</div>
							</div>
							</a>
						</div>


						<a class="more-list" href="/list/zxkx" target="_blank">更多资讯</a>
					</div>
				</div>
				<div class="index-list">
					<a href="/detail/906d504d94434ef8bab9ef19aaaa55c0" target="_blank">
					<div class="left-div">
						<div class="left-div-img">
							<!--<img th:src="@{{url}(url=${djdtone.titleImg})}">-->
							<!--<img th:src="${#strings.isEmpty(djdtone.titleImg)}? './img/def/2.png': ${djdtone.titleImg}" />-->
							<img src="./img/def/2.png">
						</div>
						<div class="left-div-body">
							<div class="left-div-title">清风护航，实干冲刺！中汽天检召开2026年9月干部例会暨年中党风...</div>
							<div class="left-div-text">2026年9月20日，中汽天检召开9月干部例会暨年中党风廉政建设工作会，中汽天检党委书记、董事长颜燕，党委副书记、总经理李海斌，以及中...</div>
						</div>
					</div>
					</a>
					<div class="right-div">
						<div class="right-item">
							<a href="/detail/4e5de8001216468685c4249e9a7cd438" target="_blank">
							<div class="right-item-time">
								<p class="date">07</p>
								<p class="year-moth">2026-09</p>
							</div>
							<div class="right-item-body">
								<div class="right-item-title">天津检验中心党委召开树立和践行正确政绩观学习教育总结会议</div>
								<div class="right-item-text">9月7日，天津检验中心党委召开树立和践行正确政绩观学习教育总结会议，传达学习习近平总书记重要指示精神和中央党的建设工作领导小组会议精神...</div>
							</div>
							</a>
						</div>
						<div class="right-item">
							<a href="/detail/5ad6069d25a8464c9e3606fd110ab8ae" target="_blank">
							<div class="right-item-time">
								<p class="date">24</p>
								<p class="year-moth">2026-08</p>
							</div>
							<div class="right-item-body">
								<div class="right-item-title">赓续红色血脉，筑牢信仰之基 | 天津检验中心党委各直属...</div>
								<div class="right-item-text">为深入学习贯彻习近平党建思想，传承弘扬革命先辈崇高精神，近期，天津检验中心党委各直属党组织开展形式多样、内涵丰富的主题党日活动。通过理...</div>
							</div>
							</a>
						</div>
						<div class="right-item">
							<a href="/detail/d588d726aaf045d0b368f1e761531cf2" target="_blank">
							<div class="right-item-time">
								<p class="date">14</p>
								<p class="year-moth">2026-07</p>
							</div>
							<div class="right-item-body">
								<div class="right-item-title">习近平党建思想金句</div>
								<div class="right-item-text">中国共产党领导是中国特色社会主义最本质的特征，是中国特色社会主义制度的最大优势，是党和国家的根本所在、命脉所在，是全国各族人民的利益所...</div>
							</div>
							</a>
						</div>


						<a class="more-list" href="/djlist/djdt" target="_blank">更多资讯</a>
					</div>
				</div>
				<div class="index-list">
					<a href="/detail/2927" target="_blank">
					<div class="left-div">
						<div class="left-div-img">
							<!--<img th:src="@{{url}(url=${hyxxone.titleImg})}">-->
							<img src="./img/def/3.png" />
						</div>
						<div class="left-div-body">
							<div class="left-div-title">中汽研汽车检验中心（天津）有限公司关于国家质检中心更名的告知函</div>
							<div class="left-div-text">根据《关于进一步加强国家质检中心管理的意见》以及《关于国家产品检验检测中心及所在法人单位资质认定等有关事项的通知》要求，中汽研汽车检验...</div>
						</div>
					</div>
					</a>
					<div class="right-div">
						<div class="right-item">
							<a href="/detail/762" target="_blank">
							<div class="right-item-time">
								<p class="date">20</p>
								<p class="year-moth">2019-08</p>
							</div>
							<div class="right-item-body">
								<div class="right-item-title">2019年检测认证事业部汽车试验研究所科研动员会顺利召开</div>
								<div class="right-item-text">2019年8月19日，检测认证事业部汽车试验研究所（以下简称“试验所”）组织召开了2019年试验所科研动员会。检测认证事业部总工程师方...</div>
							</div>
							</a>
						</div>
						<div class="right-item">
							<a href="/detail/763" target="_blank">
							<div class="right-item-time">
								<p class="date">12</p>
								<p class="year-moth">2019-08</p>
							</div>
							<div class="right-item-body">
								<div class="right-item-title">中国认证认可协会（CCAA）副秘书长徐德峰到检测认事业...</div>
								<div class="right-item-text">&amp;amp;emsp;2019年8月8日，中国认证认可协会（CCAA）徐德峰副秘书长一行4人到中汽研检测认证事业部天津华诚认证有限公司（...</div>
							</div>
							</a>
						</div>
						<div class="right-item">
							<a href="/detail/766" target="_blank">
							<div class="right-item-time">
								<p class="date">13</p>
								<p class="year-moth">2019-07</p>
							</div>
							<div class="right-item-body">
								<div class="right-item-title">检测认证事业部GPS测速仪实验室间比对活动圆满完成</div>
								<div class="right-item-text">&amp;amp;emsp;2019年7月12日，检测认证事业部组织的GPS测速仪实验室间比对活动在天津顺利举行，天津汽车检测中心为牵头实施单...</div>
							</div>
							</a>
						</div>


						<a class="more-list" href="/list/hyxx" target="_blank">更多资讯</a>
					</div>
				</div>
				<div class="index-list">
					<a href="/detail/561" target="_blank">
					<div class="left-div">
						<div class="left-div-img">
							<!--<img th:src="@{{url}(url=${cgxxone.titleImg})}">-->
							<img src="./img/def/4.png" />
						</div>
						<div class="left-div-body">
							<div class="left-div-title">展览展示服务采购项目招标公告</div>
							<div class="left-div-text">招标编号：【CATARC(CARE)-2019005】 根据《中华人民共和国招投标法》以及有关的法律法规，遵循公开、公平、公证和诚实信...</div>
						</div>
					</div>
					</a>
					<div class="right-div">
						<div class="right-item">
							<a href="/detail/553" target="_blank">
							<div class="right-item-time">
								<p class="date">19</p>
								<p class="year-moth">2019-03</p>
							</div>
							<div class="right-item-body">
								<div class="right-item-title">中标公示</div>
								<div class="right-item-text">上海卡壹品牌管理有限公司就“OBD排放快速检测设备采购项目”进行公开招标项目（招标编号：CARTAC（CARE）-2019001），经...</div>
							</div>
							</a>
						</div>
						<div class="right-item">
							<a href="/detail/551" target="_blank">
							<div class="right-item-time">
								<p class="date">07</p>
								<p class="year-moth">2019-03</p>
							</div>
							<div class="right-item-body">
								<div class="right-item-title">上海卡壹品牌管理有限公司 2019-2020年度 OB...</div>
								<div class="right-item-text">招标编号：【 201901 】     上海卡壹品牌管理有限公司2019-2020年度 OBD排放快速检测设备采购项目招标文件    ...</div>
							</div>
							</a>
						</div>
						<div class="right-item">
							<a href="/detail/597" target="_blank">
							<div class="right-item-time">
								<p class="date">21</p>
								<p class="year-moth">2018-12</p>
							</div>
							<div class="right-item-body">
								<div class="right-item-title">中标公示</div>
								<div class="right-item-text">上海卡壹品牌管理有限公司就“氮氧化物快速检测仪采购项目”进行公开招标项目（招标编号：CATARC(CARE)-2018025），经评标...</div>
							</div>
							</a>
						</div>


						<a class="more-list" href="/list/cgxx" target="_blank">更多资讯</a>
					</div>
				</div>

			</div>
		</div>
		<!--	新闻动态结束		-->

		<!--	检测能力		-->
		<div class="check-ability">
			<div class="check-ability-main">
				<div class="column-title">
					<span class="column-title-text">检测能力</span>
				</div>

				<div class="check-ability-body">
					<a href="/jcnl/oneItem/5b1ac28a558b4e6eaf1be6b19041faa7" target="_blank">
						<div class="check-ability-item" style="z-index: 99">
							<img src="img/index/1.png">
						</div>
					</a>
					<a href="/jcnl/oneItem/a4e205eb3069448380890020fd2910fb" target="_blank">
						<div class="check-ability-item" style="z-index: 98">
							<img src="img/index/2.png">
						</div>
					</a>
					<a href="/jcnl/oneItem/a085836394d84e2eb02273b2a63311e4" target="_blank">
						<div class="check-ability-item" style="z-index: 96">
							<img src="img/index/3.png">
						</div>
					</a>
					<a href="/jcnl/oneItem/4d9654f9115845488e82818b9428b437" target="_blank">
						<div class="check-ability-item" style="z-index: 97">
							<img src="img/index/4.png">
						</div>
					</a>
					
					<a href="/jcnl/oneItem/2570ed77fe7f4c7e97006a2e1e48744c" target="_blank">
						<div class="check-ability-item" style="z-index: 95">
							<img src="img/index/5.png">
						</div>
					</a>
					<a href="/jcnl/oneItem/db04b4a0e50b4202b6164929d18448ca" target="_blank">
						<div class="check-ability-item" style="z-index: 94">
							<img src="img/index/6.png">
						</div>
					</a>

				</div>
			</div>
		</div>
		<!--	检测能力结束		-->

		<!--	下载中心 	-->
		<div class="download-center">
			<div class="download-center-main">
				<div class="download-left">
					<div class="download-left-title">下载中心</div>
					<ul class="download-left-list">
						<li  ><a target="_blank" href="/member/files/645504855661707264.docx">委托单</a></li>
						<li  ><a target="_blank" href="/member/files/830220009811841024.pdf">中国合格评定国家认可委员会实验室认可证书中文版-L1635-CNAS证书-20240529-20300528</a></li>
					</ul>
					<a class="more-list"  href="/downList" target="_blank">更多</a>
				</div>
				<div class="download-right">
					<!--<img src="img/index/download.png">-->

					<video controls="controls" height="350px" muted autoplay>
						<source src="/img/xcp.mp4">
					</video>
				</div>
			</div>
		</div>
		<!--	下载中心结束		-->

		<!--页脚-->
		<div class="footer">
    <div class="footer-main">
        <div class="footer-logo">
            <img src="/img/common/logo_footer.png">
        </div>
        <div class="footer-text">
            <div class="footer-text-left" id="yqlj"></div>
            <div class="footer-text-right">
                <div class="footer-text-right-item">
                    <img src="/img/common/call.png">
                    <span id="bottom_contactWay"></span>
                </div>
                <div class="footer-text-right-item">
                    <img src="/img/common/address.png">
                    <span id="bottom_address"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom"><span id="bottom_copyright"></span></div>
</div>
		<!--     页脚       -->
	</div>

	</body>

<!--引用layout里面所有的js-->

    <script type="text/javascript"  src="/js/jquery.min.js"></script>
    <script type="text/javascript"  src="/js/slider.js"></script>
    <script type="text/javascript"  src="/js/paging.js"></script>



    <!-- 用于加载每个页面自定义的JS -->
    

    <script type="text/javascript">
        $(function () {
            $.get("/commonContactUs", null, function (resp) {
                if (resp.code == 0){
                    let data = resp.data[0];
                    $("#bottom_contactWay").text("联系方式："+data.contactWay);
                    $("#bottom_address").text("地址："+data.address);
                    $("#bottom_copyright").html(data.copyright);

                    $("#red_contactWay").text("联系方式："+data.contactWay);
                    $("#red_address").text("地址："+data.address);
                    $("#red_copyright").html(data.copyright);
                }
            });



            /*友情链接*/
            $.get("/friendlyLink",null,function (resp){
                if (resp.code == 0){
                    var html="<span class=\"friend-title\">友情链接</span>";
                    for(var i=0;i<resp.data.length;i++) {

                        let data1 = resp.data[i];

                        html = html + "<div class=\"friend-list-item\"><a href=\""+data1.linkUrl+"\" target=\"_blank\"><span>"+data1.linkName+"</span></a></div>"

                    }
                    $("#yqlj").html(html);
               }

            });
        })
    </script>

<script>
	$(function () {
		$('#demo01').flexslider({
			animation: "slide",
			direction:"horizontal",
			easing:"swing",
			slideshowSpeed:5000
		});

		$('.index-tab-item').on('mouseover', function () {
			$(this).addClass('active').siblings().removeClass('active')
			$('.index-list').removeClass('active');
			var index = $(this).index();
			$('.index-list').eq(index).addClass('active')
		})
	})
</script>
</html>
